# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# objects

obj/

# caches

.cache

# stores VSCode versions used for testing VSCode extensions

.vscode-test

# finder (MacOS) folder config

.DS_Store
